:root {
  --color-light: #fdfdfd;
  --color-blue: #1e90ff;
  --color-dark: #383838;
  --color-black: #000000;

  --grad-bg: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 40%);
  /* --grad-bg: linear-gradient(180deg, #383838 0, #000000 23%); */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-black);
  border: solid 0.1px #fff;
  height: 250vh;
  max-width: 1000px;

  margin: auto;
}

.top_section {
  height: 650px;
  /* width: 1000px; */
}

.top_section .cover {
  /* background-image: url(./assets/album.jpg) no-repeat, var(--grad-bg); */
  /* background-image: linear-gradient(to bottom, var(--grad-bg)), url("./assets/album.jpg"); */
  background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0) 80%, rgba(0, 0, 0, 1) 100%),
    url("./assets/album.jpg");
  background-size: cover;
  opacity: 0.3;
  margin: auto;
  /* background */
  height: 100%;
}

.top_section .album img {
  position: absolute;
  top: 200px;
  left: 24%;
  object-fit: contain;
  height: 320px;
}

.top_section .album #released {
  position: absolute;
  font-size: 1rem;
  color: #fff;
  rotate: -90deg;
  top: 380px;
  left: 16%;
}
.top_section .menu #topdown{
  position: absolute;
  right: 18%;
  top: 7%;
  color: #fff;
  list-style-type:none;
}
.instinct {
  color: var(--color-blue);
}
