@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
:root {
  --color-light: #fdfdfd;
  --color-blue: #1e90ff;
  --color-dark: #383838;
  --color-black: #000000;
  --color-green: hsl(157, 60%, 53%);

  --grad-bg: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(0, 0, 0, 1) 40%);

  --album-left: 30%;
  --album-top: 24%;

  --released-top: 39%;
  --released-left: 22.5%;

  --profile-top: 25%;
  --profile-left: 50%;

  --header-st: "Maven Pro", monospace;
  --header-size: 2.7rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-black);
  max-width: 1000px;

  margin: auto;
}

.top_section {
  height: 560px;
}

.top_section .container {
  background: linear-gradient(to bottom, rgba(56, 56, 56, 0.6) 40%, rgba(0, 0, 0, 1) 100%), url(./assets/album.jpg);
  background-size: cover;
  height: 100%;

  margin: auto;
}

.top_section .container .content {
  display: flex;
}

.top_section .container .content .leftside {
  display: flex;
  justify-content: center;
  flex: 1;

  padding-top: 170px;
  margin-left: 5rem;
}

.top_section .container .content .leftside div p {
  flex: 1;
  font-size: 0.9rem;
  color: #fdfdfd;
  color: #fdfdfd;
  transform-origin: bottom left;
  rotate: -90deg;
  padding-left: 27px;
}

.top_section .container .content .leftside img {
  flex: 2;
  width: 300px;
}

.top_section .container .content .rightside {
  flex: 1;

  padding-top: 170px;
}

.top_section .container .content .rightside .song {
  font-family: "Lato", sans-serif;
  -webkit-text-stroke: 1px #fdfdfd;
  -webkit-text-stroke: 1px #fdfdfd;
  color: transparent;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.top_section .container .content .rightside .artist {
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  color: #fdfdfd;
  color: #fdfdfd;
  font-weight: 800;
}

.top_section .container .content .rightside .profile {
  display: flex;
  margin: 1rem 0;
}

.top_section .container .content .rightside .profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;

  margin: 0rem 0.4rem;
}

.top_section .container .content .rightside .buttons {
  font-weight: 800;
  color: #fdfdfd;
  color: #fdfdfd;
  display: flex;
  gap: 0.5rem;
}

.top_section .container .content .rightside .buttons .btn {
  display: flex;
  gap: 0.2rem;

  padding: 0.5rem 1rem;
}

#btn1 {
  background: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn2 {
  border: 1px solid #fdfdfd;
  align-items: center;
}

.instinct {
  color: var(--color-green);
}

li {
  margin: 0.5rem 0;
}

.hamburger {
  margin-bottom: 2rem;
}

.top_section .menu #topdown {
  color: #fdfdfd;
  color: #fdfdfd;
  list-style-type: none;

  padding: 20px 45px 0 0;
}

.top_section .menu #topdown li a img {
  width: 22px;
  margin-left: 2px;
}

.top_section .menu #topdown .hamburger a img {
  width: 30px;
  margin: 0;
}
.middle_section {
  position: flex;
  color: #fdfdfd;
  width: 72%;

  margin: auto;
}
.horiz {
  display: inline-block;
}
.box {
  background-color: #000;
  display: flex;
}
.box1 {
  position: flex;
  margin-top: 30px;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  font-family: "Maven Pro", monospace;
}
.box1 img {
  padding: 20px 5px;
  width: 15vw;
  max-width: 150px;

  object-fit: cover;
  margin: 0;
}
.box1 #topText {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  margin-left: 15px;
}
.box1 #bottomText {
  font-weight: lighter;
  font-size: 10px;
  margin-left: 15px;
  margin-left: 15px;
}

.box img {
  width: 50px;
  height: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin: 0px;
  padding: 10px;
  margin: 0px;
  padding: 10px;
}
.middle_section #streamText {
  margin-bottom: 10px;
  font-family: "Maven Pro", monospace;
  font-size: var(--header-size);
}

.bottom_section {
  width: 72%;

  color: #fdfdfd;
  margin: auto;
}

.bottom_section #releaseText {
  font-family: "Maven Pro", monospace;
  font-size: var(--header-size);
}
.nowrap {
  font-family: "Rajdhani", monospace;
  font-style: italic;
}
.line {
  margin-right: 110px;
  margin-top: 100px;
  border-top: 1px solid #fdfdfd;
}
.line1 {
  margin-right: 110px;
  margin-top: 10px;
  border-bottom: 1px solid #fdfdfd;
}
#inv {
  filter: invert(100%);
}

#track_list {
  color: #fff;
  width: 72%;

  margin: auto;
  margin-bottom: 4rem;
  margin-bottom: 4rem;
}

#track_list h2 {
  font-size: var(--header-size);
  font-family: var(--header-st);

  margin: 2.5rem 0 2.2rem 0;
}

#track_list .container .tracks {
  align-items: center;
  display: grid;
  grid-template-columns: 0.75fr 1fr 5fr 6fr 1fr 0.5fr;
  font-family: "Lato";

  margin: 1rem 0;
  padding: 0 1rem;
}

#track_list .container .tracks img:nth-child(2) {
  width: 1.6rem;
}

#track_list .container .tracks .names .singer {
  font-size: 0.75rem;
  font-weight: 800;
}

#track_list .container .tracks .names .song {
  font-weight: 550;
}
.footer {
  display: flex;
  margin-top: 10px;
  font-family: "Maven Pro", monospace;
}
.footer1 {
  left: 50%;
}
.footer2 {
  margin-left: 100px;
  right: 50%;
}
.footer3 {
  margin-left: 100px;
  color: silver;
  font-family: "Truculenta", monospace;
}
.footer3 input {
  background-color: silver;
}
.realfooter {
  margin-top: 30px;
}

@media screen and (max-width: 820px) {
  .top_section {
    height: 440px;
  }

  .top_section .container .content .leftside img {
    width: 220px;
  }

  .top_section .container .content .rightside .song {
    font-size: 2.2rem;
  }

  .top_section .container .content .rightside .artist {
    font-size: 1.4rem;
  }

  .top_section .container .content .rightside .profile img {
    width: 55px;
  }

  .top_section .container .content .rightside .buttons {
    font-size: 0.8rem;
  }

  .top_section .container .content .rightside .buttons .btn {
    padding: 0.3rem 0.7rem;
  }

  :root {
    --header-size: 2rem;
  }
}

@media screen and (max-width: 630px) {
  .top_section .container .content .leftside img {
    width: 200px;
  }

  .top_section .container .content .rightside .song {
    font-size: 1.9rem;
  }

  .top_section .container .content .rightside .artist {
    font-size: 1.2rem;
  }

  .top_section .container .content .rightside .profile img {
    width: 45px;
  }

  .top_section .container .content .rightside .buttons {
    font-size: 0.4rem;
  }

  .top_section .container .content .rightside .buttons .btn {
    padding: 0.2rem 0.3rem;
  }

  .box1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .box1 img {
    width: 24vw;
  }

  :root {
    --header-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .top_section .container .content {
    justify-self: flex-end;
  }

  .top_section .container .content .leftside {
    padding: 0;
    margin: 30px 0 10px 0;
  }

  .top_section .container .content .rightside {
    padding-left: 30vw;
  }

  .top_section .container .content .leftside {
    display: none;
  }

  .top_section .container .content .leftside div p {
    font-size: 0.5rem;
  }

  .top_section .menu #topdown {
    padding: 15px 10px 0 0;
  }

  .top_section .menu #topdown .hamburger a img {
    width: 19px;
  }

  .top_section .menu #topdown li a img {
    width: 14px;
    margin: 0;
  }

  .box1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .box1 img {
    width: 30vw;
    max-width: 150px;
  }

  .tracks div {
    font-size: 0.6rem;
  }

  .tracks img {
    width: 10px;
  }

  #track_list .container .tracks img:nth-child(2) {
    width: 1rem;
  }

  #track_list .container .tracks .names .singer {
    font-size: 0.4rem;
  }

  :root {
    --header-size: 1.2rem;
  }
}
